# vim:fileencoding=utf-8

module DBEE
  module Config
    API_URL = "http://192.168.5.3:9393"
    MATERIAL_BASE_URL = "http://192.168.5.3/"
    REQUEST_REDIS_HKEY = "request"
    MATERIAL_DIR = "/srv/storage/recordings"
    CA_DIR = "/etc/ssl/certs"
    HTTP_USER = "dbee"
    HTTP_PASSWORD = "dbee"

    module Encode
      PRESET   = File.expand_path(File.dirname(__FILE__) + '/sample/libx264-iPad.ffpreset')
      PROGRAM_ID = {
        /ＭＸテレビ/   => "23608",
        /ＴＢＳテレビ/ => "1048",
        /フジテレビ/   => "1056",
        /日本テレビ/   => "1040",
        /ＮＨＫ教育/   => "1032",
        /ＮＨＫ総合/   => "1024",
        /テレビ東京/   => "1072",
        /テレビ朝日/   => "1064"
      }
      OUTPUT_DIR = "/tmp/encode"
    end

    module Upload
      AMAZON_ACCESS_KEY_ID = ENV['AMAZON_ACCESS_KEY_ID'] || 'your access key'
      AMAZON_SECRET_ACCESS_KEY = ENV['AMAZON_SECRET_ACCESS_KEY'] || 'your secret key'
      UPLOAD_BUCKET = 'dbee'
    end
  end
end
